<div>

  <div class="box">
    <ion-item ngClass="blank">
      <ion-label color="text-color">Replace existing feature:</ion-label>
      <ion-select ngClass="trans" [(ngModel)]="gender">
        <ion-option></ion-option>
      </ion-select>
    </ion-item>
  </div>

  <div class="box">
    <ion-item ngClass="blank">
      <ion-label color="text-color">Replacement bulb type:</ion-label>
      <ion-select ngClass="trans" [(ngModel)]="gender">
        <ion-option></ion-option>
      </ion-select>
    </ion-item>
  </div>

  <div class="c-item-box">
    <span ion-text color="text-color">Enter no of replacements needed</span>
    <ion-input ngClass="trans" type="number" value="" placeholder="Enter no of replacements needed"></ion-input>
  </div> 
    
  <div class="c-item-box">
    <span ion-text color="text-color">Enter wattage</span>
    <ion-input ngClass="trans" value="" placeholder="Enter wattage"></ion-input>
  </div>
    
  <div class="c-item-box">
    <span ion-text color="text-color">Enter special instructions</span>
    <ion-input ngClass="trans" type="text" value="" placeholder="Enter special instructions"></ion-input>
  </div>
  
  <div class="box">
    <button ion-button ngClass="c-button">Finish Room</button>
  </div>
</div>
