<div>
  <!-- Bulb Replacement Form -->
  <form [formGroup]="replacementForm" class="box">

    <!-- Select Replacement Bulb Component -->
    <bulb [headTitle]="title"></bulb>

    <!-- Units in Kalvins -->
    <div class="c-item-box">
      <span ion-text color="text-color">Kalvins</span>
      <ion-input 
        ngClass="trans" 
        formControlName="kalvins" 
        type="number" value="" 
        placeholder="Enter kalvins">
      </ion-input>
    </div>

    <!-- Additional Notes -->
    <div class="c-item-box">
      <span ion-text color="text-color">Special Notes</span>
      <ion-textarea 
        value=""
        type="number"
        ngClass="trans" 
        formControlName="specialNotes" 
        placeholder="Enter special notes">
      </ion-textarea>
    </div>
  </form>
  
  <!-- Form ends-->

</div>
