<div>
  <div class="box">
    <div class="c-item-box">
      <span ion-text color="text-color">Replacement Bulb</span>
      <ion-input 
        value=""
        ngClass="trans" 
        [(ngModel)]="replacementBulb" 
        placeholder="Enter replacementBulb">
      </ion-input>
    </div>

    <div class="c-item-box">
      <span ion-text color="text-color">Wattage</span>
      <ion-input 
        ngClass="trans" 
        [(ngModel)]="wattage" 
        type="number" value="" 
        placeholder="Enter wattage">
      </ion-input>
    </div>

    <div class="c-item-box">
      <span ion-text color="text-color">Kalvins</span>
      <ion-input 
        ngClass="trans" 
        [(ngModel)]="kalvins" 
        type="number" value="" 
        placeholder="Enter kalvins">
      </ion-input>
    </div>

    <div class="c-item-box">
      <span ion-text color="text-color">Special Notes</span>
      <ion-textarea 
        value=""
        type="number"
        ngClass="trans" 
        [(ngModel)]="specialNotes" 
        placeholder="Enter special notes">
      </ion-textarea>
    </div>
  </div>
</div>
