<ion-content ngClass="frame-content">
    <div class="padding-5"></div>
    <!-- Label here -->
    <ion-item-divider ngClass='heading'>Fixture Options</ion-item-divider>
    <div style="padding: 5px">

      <!-- Wattage -->
      <div class="c-item-box">
        <span ion-text color="text-color">Wattage</span>
        <ion-item ngClass="blank" no-lines>
          <ion-select ngClass="trans" [(ngModel)]="wattage" full placeholder="Select wattage">
            <ion-option *ngFor="let metric of metrics">{{ metric }}</ion-option>
          </ion-select>
        </ion-item>
      </div>

      <!-- Kalvins -->
      <div class="c-item-box">
        <span ion-text color="text-color">Kalvin</span>
        <ion-input 
          type="number" 
          ngClass="trans" 
          [(ngModel)]="kalvin" placeholder="Enter kalvins"
          >
        </ion-input>
      </div>

      <!-- Wrong bulb -->
      <div class="c-item-box">
        <span ion-text color="text-color">Wrong Bulb</span>
        <ion-list radio-group [(ngModel)]="wrongBulb">
          <ion-grid no-padding>
            <ion-row>
              <ion-col col-6>
                <ion-item ngClass="blank fs-12" no-lines>
                  <ion-label color="text-color">YES</ion-label>
                  <ion-radio value="true"></ion-radio>
                </ion-item>
              </ion-col>
              <ion-col col-6>
                <ion-item ngClass="blank fs-12" no-lines>
                  <ion-label color="text-color">NO</ion-label>
                  <ion-radio value="false"></ion-radio>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-list>
      </div>

      <!-- Retrofit -->
      <div class="c-item-box">
        <span ion-text color="text-color">Retrofited</span>
        <ion-list radio-group [(ngModel)]="retroFit">
          <ion-grid no-padding>
            <ion-row>
              <ion-col col-6>
                <ion-item ngClass="blank fs-12" no-lines>
                  <ion-label color="text-color">YES</ion-label>
                  <ion-radio value="true"></ion-radio>
                </ion-item>
              </ion-col>
              <ion-col col-6>
                <ion-item ngClass="blank fs-12" no-lines>
                  <ion-label color="text-color">NO</ion-label>
                  <ion-radio value="false"></ion-radio>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-list>
      </div>

      <button 
        mode="ios" 
        color="loc-button"
        (click)="dismissPopover()"  
        class="c-button no-bg" ion-button full>done</button>
    </div>
    <br/>
  </ion-content>