page-sign-in {
  .c-item {
    background: transparent;
  }

  .logo-box {
    width: 120px;
    height: 120px;
    overflow: hidden;
    margin: 50px auto 5px auto;
  }

  .btn-box {
    margin: 15px auto;
  }

  .text-box {
    margin: 15px auto;
    text-align: center;
  }
}
