<ion-content ngClass="frame-content">
  <br/>
  <!-- Label here -->
  <ion-item-divider ngClass='heading'>Input Worktime</ion-item-divider>
  <div style="padding: 5px">
    <form [formGroup]="workTimeForm" novalidate>
      <ion-grid>
        <ion-row>
          <ion-col col-4>
            <span ion-text color="text-color">Days</span>
          </ion-col>
          <ion-col col-4>
            <span ion-text color="text-color">From</span>
          </ion-col>
          <ion-col col-4>
              <span ion-text color="text-color">To</span>
            </ion-col>
        </ion-row>
        <ion-row><ion-col><div class="padding-5"></div></ion-col></ion-row>

        <ion-row *ngFor="let day of daysOfWeek" formGroupName="{{day.day}}">
          <ion-col col-4>
            <span ion-text ngClass="fs-12" color="text-color">{{ day.day }}</span>
          </ion-col>
          <ion-col col-4>
            <div class="trans padding-none">
              <ion-datetime ngClass="fs-12" displayFormat="HH:mm" pickerFormat="HH:mm" [(ngModel)]="day.from"></ion-datetime>
            </div>
          </ion-col>
          <ion-col col-4>
            <div class="trans padding-none">
              <ion-datetime ngClass="fs-12" displayFormat="HH:mm" pickerFormat="HH:mm" [(ngModel)]="day.to"></ion-datetime>
            </div>
          </ion-col>
        </ion-row>
      
      </ion-grid>       
    </form>

    <button  class="c-button no-bg" color="loc-button" ion-button full>done</button>
  </div>
  <br/>
</ion-content>