page-dashboard {
  #profile-name {
    color: #ffffff;
    text-align: center;
  }

  #profile-name p {
    margin-top: -10px;
  }

  #profile-avatar {
    padding: 0;
    width: 120px;
    height: 120px;
    overflow: hidden;
    border-radius: 100%;
    margin: 10px auto 15px auto;
  }

  .fluid {
    width: 116%;
    height: 100%;
  }

  #horizontal-rule {
    width: 98%;
    padding: 1px;
    background: #416e57;
    margin: -5px auto auto auto;
  }

  #btn-box {
    text-align: center;
    margin: 5px auto 8px auto;
  }

  .margin-10 {
    margin: 10px auto;
  }

  #list-box {
    color: #fff;
    padding: 10px;
  }

  .text {
    color: #fff;
  }

  #duration {
    font-size: 12px;
  }
}
