page-dashboard {
  .frame-content {
    background: #528f7d;
  }

  #profile-name {
    color: #ffffff;
    text-align: center;
  }

  #profile-name p {
    margin-top: -10px;
  }

  #profile-avatar {
    padding: 0;
    width: 120px;
    height: 120px;
    overflow: hidden;
    border-radius: 100%;
    margin: 10px auto 15px auto;
  }

  .fluid {
    width: 116%;
    height: 100%;
  }

  #horizontal-rule {
    width: 90%;
    padding: 1px;
    background: #416e57;
    margin: -5px auto auto auto;
  }

  #btn-box {
    text-align: center;
    margin: 5px auto 8px auto;
  }

  .c-button {
    border-radius: 3px;
    background: #82b35a;
  }

  .heading {
    color: #fff;
    font-size: 12px;
    margin-top: -10px;
    text-align: center;
    background: #33cc99;
  }

  #list-box {
    padding: 10px;
  }

  #duration {
    font-size: 12px;
  }

  .evaluation-list {
    color: #fff;
    border-radius: 40px;
    border: 0px solid #fff;
    background: #82b35a;
  }
}
