<div>
  <ion-item>
    <ion-label>Existing features:</ion-label>
    <ion-select [(ngModel)]="gender">
      <ion-option></ion-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-input type="number" value="" placeholder="Enter number of fixtures"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input value="" placeholder="Enter estimated hours of use"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input type="text" value="" placeholder="Enter amount of wattage"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input type="number" value="" placeholder="Enter number of existing bulbs"></ion-input>
  </ion-item>

 <div>
    <ion-icon name="camera"></ion-icon>
    <p>Capture image of existing fixture</p>
 </div>

</div>
