<div>
  <form [formGroup]="existingLightForm" class="box">
    <div class="c-item-box">
      <span ion-text color="text-color">Enter Number of Fixtures</span>
      <ion-input ngClass="trans" formControlName="numOfFixtures" type="number" value="" placeholder="Enter number of fixtures"></ion-input>
    </div>

    <div class="c-item-box">
      <span ion-text color="text-color">Balast Type</span>
      <ion-item ngClass="blank" no-lines>
        <ion-select ngClass="trans" formControlName="balastType" full placeholder="Select balast type">
          <ion-option *ngFor="let balast of balastTypes">{{ balast }}</ion-option>
        </ion-select>
      </ion-item>
    </div>

    <div class="c-item-box">
      <span ion-text color="text-color">Enter Number of Bulbs</span>
      <ion-input ngClass="trans" formControlName="numOfBulbs" type="number" value="" placeholder="Enter number of bulbs"></ion-input>
    </div>

    <bulb [headTitle]="title"></bulb>

    <div class="c-item-box">
      <span ion-text color="text-color">Wrong Bulb</span>
      <ion-list radio-group formControlName="wrongBulb">
        <ion-grid no-padding>
          <ion-row>
            <ion-col col-5>
              <ion-item ngClass="trans fs-12" no-lines>
                <ion-label>YES</ion-label>
                <ion-radio value="true"></ion-radio>
              </ion-item>
            </ion-col>
            <ion-col col-1><div></div></ion-col>
            <ion-col col-5>
              <ion-item ngClass="trans fs-12" no-lines>
                <ion-label>NO</ion-label>
                <ion-radio value="false"></ion-radio>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-list>
    </div>
  </form>

 <div>
    <div class="icon-box" (click)="takeSnapShot()">
      <ion-icon ngClass="large" color="text-color" name="camera"></ion-icon>
    </div>
    <p ion-text color="text-color" class="text">Capture image of existing fixture</p>
 </div>
</div>
