<div>
  
  <div class="box">
    <ion-item ngClass="blank">
      <ion-label color="text-color">Existing features:</ion-label>
      <ion-select ngClass="trans" [(ngModel)]="gender">
        <ion-option></ion-option>
      </ion-select>
    </ion-item>
  </div>

  <div class="c-item-box">
    <span ion-text color="text-color">Enter number of fixtures</span>
    <ion-input ngClass="trans" type="number" value="" placeholder="Enter number of fixtures"></ion-input>
  </div>

  <div class="c-item-box">
    <span ion-text color="text-color">Enter estimated hours of use</span>
    <ion-input ngClass="trans" value="" placeholder="Enter estimated hours of use"></ion-input>
  </div>

  <div class="c-item-box">
    <span ion-text color="text-color">Enter estimated hours of use</span>
    <ion-input type="text" value="" placeholder="Enter amount of wattage"></ion-input>
  </div>

  <div class="c-item-box">
    <span ion-text color="text-color">Enter number of existing bulbs</span>
    <ion-input ngClass="trans" type="number" value="" placeholder="Enter number of existing bulbs"></ion-input>
  </div>

 <div>
    <div class="icon-box">
      <ion-icon ngClass="large" color="text-color" name="camera"></ion-icon>
    </div>
    <p ion-text color="text-color" class="text">Capture image of existing fixture</p>
 </div>

</div>
