<ion-content ngClass="hero-bg">
  <div padding>
    <form [formGroup]="signUpForm" novalidate>
      <div class="logo-box">
        <img class="fluid" src="../../assets/imgs/light_tally.png"/>
      </div>
      
      <div class="padding-top-10">
        <div class="c-form-control">
          <ion-input
            [class.valid]="fullname.valid && (fullname.dirty || fullname.touched)" 
            [class.invalid]="fullname.invalid && (fullname.dirty || fullname.touched)"
            ngClass="c-input" 
            formControlName="fullname" 
            type="text" placeholder="Fullname">
          </ion-input>
          <div *ngIf="fullname.invalid && (fullname.dirty || fullname.touched)">
            <span class="error" *ngIf="fullname.errors.required">
                Fullname is required
            </span>
          </div>
          
        </div>
      
        <div class="c-form-control">
          <ion-input 
            [class.valid]="email.valid && (email.dirty || email.touched)" 
            [class.invalid]="email.invalid && (email.dirty || email.touched)"
            ngClass="c-input" 
            formControlName="email" 
            type="text" placeholder="Email">
          </ion-input>
          <div *ngIf="email.invalid && (email.dirty || email.touched)">
            <span class="error" *ngIf="email.errors.required">
               Email is required
            </span>
          </div>
        </div>

        <div class="c-form-control">
          <ion-input 
            [class.valid]="phoneNumber.valid && (phoneNumber.dirty || phoneNumber.touched)" 
            [class.invalid]="phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched)"
            ngClass="c-input" 
            formControlName="phoneNumber" 
            type="tel" placeholder="Phone number">
          </ion-input>
          <div *ngIf="phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched)">
            <span class="error" *ngIf="phoneNumber.errors.required">
                Phonenumber is required
            </span>
            <span class="error" *ngIf="phoneNumber.errors.pattern">
                Please enter a valid Phonenumber
            </span>
          </div>
        </div>
            
        <div class="c-form-control">
          <ion-input 
            [class.valid]="password.valid && (password.dirty || password.touched)" 
            [class.invalid]="password.invalid && (password.dirty || password.touched)"
            ngClass="c-input" 
            formControlName="password" 
            type="password" placeholder="Password">
          </ion-input>
          <div *ngIf="password.invalid && (password.dirty || password.touched)">
            <span class="error" *ngIf="password.errors.required">
                Password is required
            </span>
            <span class="error" *ngIf="password.errors.minlength">
                Minimum of 8 characters
            </span>
          </div>
        </div>      
        
        <div ngClass="text-box">
          <button
            mode="ios" 
            type="submit"
            class="c-button padding-15" 
            [disabled]="signUpForm.invalid" 
            ion-button full (click)="registerUser()">
            Continue
            <span>&nbsp;&nbsp;</span>
            <ion-spinner color="text-color" *ngIf="isWaiting"></ion-spinner>
          </button>
        </div>
      </div>
    </form>
    <div class="text-box">
      <span ion-text color="c-text-color">Already have an account?</span>
    </div>
    <div class="text-box">
      <span ion-text color="link-color" (click)="backToSignInPage()">Sign In</span>
    </div>
  </div>
</ion-content>