<ion-header>
  <ion-navbar color="text-color">
    <button ion-button menuToggle>
      <ion-icon color="nav-icon" name="menu"></ion-icon>
    </button>
    <ion-title>Evaluation - Room</ion-title>
  </ion-navbar>
</ion-header>

  
<ion-content ngClass="frame-content">
  <div padding>
    <!-- Tab buttons -->
    <ion-segment [(ngModel)]="mode" color="text-color">
      <ion-segment-button isActive="true" value="0">General Info</ion-segment-button>
      <ion-segment-button value="1">Existing Lights</ion-segment-button>
      <ion-segment-button value="2">Replacement</ion-segment-button>
    </ion-segment>

    <!-- View Pager Slides -->
    <ion-slides>
      <ion-slide>
        <general-info></general-info>

        <!-- Next and Previous buttons -->
        <div class="box">
          <ion-grid no-padding>
            <ion-row>
              <ion-col col-4>
                <button 
                  mode="ios" 
                  class="c-button no-bg" 
                  color="loc-button" 
                  ion-button full (click)="slidePrev()"
                >
                  previous
              </button>
              </ion-col>
              <ion-col></ion-col>
              <ion-col col-4>
                <button 
                  mode="ios" 
                  class="c-button no-bg" 
                  color="loc-button" 
                  ion-button full (click)="slideNext()"
                >
                  next
              </button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>

      </ion-slide>
      <ion-slide>
        <existing-light></existing-light>

        <!-- Next and Previous buttons -->
        <div class="box">
          <ion-grid no-padding>
            <ion-row>
              <ion-col col-4>
                <button 
                  mode="ios" 
                  class="c-button no-bg" 
                  color="loc-button" 
                  ion-button full (click)="slidePrev()"
                >
                previous
              </button>
              </ion-col>
              <ion-col></ion-col>
              <ion-col col-4>
                <button 
                  mode="ios" 
                  class="c-button no-bg" 
                  color="loc-button" 
                  ion-button full (click)="slideNext()"
                >
                  next
              </button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>

      </ion-slide>
      <ion-slide>
        <replacement *ngIf="!showFinalizePage"></replacement>
        <finalize 
          [toFirst]="goToSlide.bind(this)"
          [resetAllForms]="resetForms.bind(this)"
          *ngIf="showFinalizePage"></finalize>

        <!-- Next and Previous buttons -->
        <div *ngIf="!showFinalizePage" class="box">
          <ion-grid no-padding>
            <ion-row>
              <ion-col col-4>
                <button 
                  mode="ios" 
                  class="c-button no-bg" 
                  color="loc-button" 
                  ion-button full (click)="slidePrev()"
                >
                  previous
                </button>
              </ion-col>
              <ion-col></ion-col>
              <ion-col col-4>
                <button 
                  mode="ios" 
                  class="c-button no-bg" 
                  color="loc-button" 
                  ion-button full (click)="slideNext()"
                >
                  finish room
                </button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>

      </ion-slide>
    </ion-slides>
  </div>  
</ion-content>
