// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.fw-300 {
  font-weight: 300;
}

.frame-content {
  background: linear-gradient(180deg, #518e7f, #6a9e5e);
}

.fluid {
  width: 100%;
  height: 100%;
}

.btn-box {
  margin: 15px auto;
}

.logo-box {
  width: 120px;
  height: 120px;
  overflow: hidden;
  margin: 70px auto 5px auto;
}

.text-box {
  margin: 15px auto;
  text-align: center;
}

.c-item-box {
  background: linear-gradient(180deg, #518e7f, #6a9e5e);
}

.c-button {
  border-radius: 3px;
  background: linear-gradient(90deg, #84b258 13.4%, #80b25b 34%, #47bc85);
}

.bulb-bg {
  background: linear-gradient(90deg, #84b258 13.4%, #80b25b 34%, #47bc85);
}

.c-button.no-bg {
  background: #52bf88;
}

.heading {
  padding: -4px 5px;
  color: #fff;
  font-size: 12px;
  margin-top: -10px;
  text-align: center;
  border-bottom: 0px solid transparent;
  background: linear-gradient(90deg, #84b258 13.4%, #80b25b 34%, #47bc85);
}

.c-item-box {
  margin: 5px auto;
  padding: 10px 7px;
  border-radius: 4px;    
  background: #46727d;
}

.trans {
  padding: 7px;
  border-radius: 4px;
  background: #5a828a;
  border: 0px solid transparent !important;
  color: rgba(255, 255, 255, 0.897);
}

.trans input {
  margin: 2px 0px;
}

.trans .select {
  width: 100% !important;
}

.blank {
  width: 100%;
  padding: 0px;
  background: transparent;
}

.c-item {
  background: transparent;
}

.drawer {
  color: #fff;
  background: transparent;
}

.hero-bg { }

.error {
  display: inline-block;
  color: #f53d3d;
  padding-top: 10px;
  margin: 0px 0px 0px 16px;
}

.evaluation-list {
  color: #fff;
  border-radius: 40px;
  border: 0px solid #fff;
  background: linear-gradient(90deg, #84b258 13.4%, #80b25b 34%, #47bc85);
}

.padding-20 {
  padding: 20px;
}

.margin-10 {
  margin: 10px auto;
}