<ion-content ngClass="frame-content">
  <div>
    <!-- View Pager Slides -->
   <ion-slides>
    <ion-slide *ngFor="let bulb of bulbs">
      <br/><br/>
      <!-- Label here -->
      <ion-item-divider ngClass='heading'>{{ bulb.category }}</ion-item-divider>
      <div padding>
        <ion-grid>
          <ion-row>
            <ion-col col-6 *ngFor="let t of bulb.types">
              <div class="c-item bulb-icon-box bulb-bg"
                (click)="selectBulb(bulb.category + ' ' + t.name)">
                <img src="{{t.src}}" />
                <span class="bulb-name">{{ t.name }}</span>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-slide>
  </ion-slides>
  </div>  
</ion-content>