<ion-content ngClass="frame-content">
  <div>
    <!-- View Pager Slides -->
   <ion-slides>
    <ion-slide>
      <br/><br/>
      <!-- Label here -->
      <ion-item-divider ngClass='heading'>Incandescent</ion-item-divider>
      <div padding>
        <ion-grid>
          <ion-row>
            <ion-col col-6>
              <div class="c-item bulb-icon-box bulb-bg" (click)="selectBulb('Type One')">
                <img src="../../assets/imgs/a15.png" />
                <span class="bulb-name">Type One</span>
              </div>
            </ion-col>
            <ion-col col-6>
              <div class="c-item bulb-icon-box bulb-bg" (click)="selectBulb('Type Two')">
                <img src="../../assets/imgs/a15.png" />
                <span class="bulb-name">Type One</span>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-slide>
  </ion-slides>
  </div>  
</ion-content>