<div class="c-item-box">
  <span ion-text color="text-color">{{ headTitle }}</span>
  <div ngClass="trans" (click)="openModal()">Select bulb</div>

  <div *ngIf="data.length > 0">
    <div class="bulb-pill" *ngFor="let d of data">
      <div class="actions-box">
        <span>{{ d.name }} - {{ d.type }} {{ d.wattage }}</span>
        <span class="remove" color="link-color" (click)="removeItem(d.id)">
          <ion-icon name="close"></ion-icon>
        </span>
      </div>
    </div>
  </div>
</div>
