<ion-content ngClass="frame-content">
  <br/><br/>
  <!-- Label here -->
  <ion-item-divider ngClass='heading'>{{ headTitle }}</ion-item-divider>
  <div padding>
    <ion-list>
      <ion-item (click)="openBulbDialog(category.type)" 
        *ngFor="let category of categories" ngClass="evaluation-list margin-10" no-lines>
        <div item-start>
          <img width="50" height="50" src="{{category.src}}"/>
        </div>
        <div>
          <span class="text">{{ category.type }}</span>
        </div>
      </ion-item>
    </ion-list>
    <button ion-button (click)="dismissModal()" full class="c-button no-bg" color="loc-button">done</button>
  </div>
</ion-content>