<ion-header no-border>
  <ion-toolbar color="nav-header">
    <button ion-button menuToggle>
      <ion-icon color="nav-icon" name="menu"></ion-icon>
    </button>
    <ion-title>Evaluation Location Info</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content ngClass="frame-content">
  <br/>
  <!-- Label here -->
  <ion-item-divider ngClass='heading'>Enter Location Information</ion-item-divider>

  <div padding>

    <!-- Location Form -->
    <form [formGroup]="locationForm">

      <!-- Business Name -->
      <div class="c-item-box">
        <span 
          ion-text color="text-color"
          ngClass="fs-rem-16 padding-top-5 input-label display-ib"
          >
          Business Name
        </span>
        <ion-input 
          type="text"
          ngClass="trans" 
          formControlName="businessName" 
          placeholder="Enter your business name">
        </ion-input>
        <div *ngIf="businessName.invalid && (businessName.dirty || businessName.touched)">
          <span *ngIf="businessName.errors.required" class="error fs-12">
            Business name is required
          </span>
        </div>
      </div>

      <!-- Address -->
      <div class="c-item-box">
        <span 
          ion-text 
          color="text-color"
          ngClass="fs-rem-16 padding-top-5 input-label display-ib"
          >
          Address
        </span>
        <ion-input 
          type="text"
          ngClass="trans" 
          formControlName="address" 
          placeholder="Enter your address">
        </ion-input>
        <div *ngIf="address.invalid && (address.dirty || address.touched)">
          <span *ngIf="address.errors.required" class="error fs-12">
            Address is required
          </span>
        </div>
      </div>

      <!-- Energy Company -->
      <div class="c-item-box">
        <span 
          ion-text color="text-color"
          ngClass="fs-rem-16 padding-top-5 input-label display-ib"
          >
          Energy Company
        </span>
        <ion-item ngClass="blank" no-lines>
          <ion-select 
            ngClass="trans" 
            formControlName="energyCompany" 
            full placeholder="Select electric company"
            >
            <ion-option  *ngFor="let company of energyCompanies">{{ company }}</ion-option>
          </ion-select>
        </ion-item>
        <div *ngIf="energyCompany.invalid && (energyCompany.dirty || energyCompany.touched)">
          <span *ngIf="energyCompany.errors.required" class="error fs-12">
            Energy company is required
          </span>
        </div>
      </div>  
      
      <!-- Account Number -->
      <div class="c-item-box">
        <span 
          ion-text color="text-color"
          ngClass="fs-rem-16 padding-top-5 input-label display-ib"
          >
          Account Number
        </span>
        <ion-input 
          type="number"
          ngClass="trans" 
          formControlName="accountNumber" 
          placeholder="Enter account number">
        </ion-input>
        <div *ngIf="accountNumber.invalid && (accountNumber.dirty || accountNumber.touched)">
          <span *ngIf="accountNumber.errors.required" class="error fs-12">
            Account number is required
          </span>
        </div>
      </div>

      <!-- KWH Filed -->
      <div class="c-item-box">
        <span 
          ion-text color="text-color"
          ngClass="fs-rem-16 padding-top-5 input-label display-ib"
          >
          KWH Filed
        </span>
        <ion-list radio-group formControlName="kwhFiled">
          <ion-grid no-padding>
            <ion-row>
              <ion-col col-5>
                <ion-item ngClass="blank fs-12" no-lines>
                  <ion-label color="text-color">YES</ion-label>
                  <ion-radio value="true"></ion-radio>
                </ion-item>
              </ion-col>
              <ion-col col-1><div></div></ion-col>
              <ion-col col-5>
                <ion-item ngClass="blank fs-12" no-lines>
                  <ion-label color="text-color">NO</ion-label>
                  <ion-radio value="false"></ion-radio>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-list>
        <div *ngIf="kwhFiled.invalid && (kwhFiled.dirty || kwhFiled.touched)">
          <span *ngIf="kwhFiled.errors.required" class="error fs-12">
            KwhFiled is required
          </span>
        </div>
      </div>

      <!-- Square Footage -->
      <div class="c-item-box">
        <span 
          ion-text color="text-color"
          ngClass="fs-rem-16 padding-top-5 input-label display-ib"
          >
          Square Footage
        </span>
        <ion-input 
          type="number"
          ngClass="trans" 
          formControlName="squareFootage" 
          placeholder="Enter square footage">
        </ion-input>
        <div *ngIf="squareFootage.invalid && (squareFootage.dirty || squareFootage.touched)">
          <span *ngIf="squareFootage.errors.required" class="error fs-12">
            Square footage is required
          </span>
        </div>
      </div>

      <!-- Total Working Hours  -->
      <div class="c-item-box">
        <span 
          ion-text color="text-color"
          ngClass="fs-rem-16 padding-top-5 input-label display-ib"
          >
          Working Hours
        </span>
        <div ngClass="trans" (click)="presentPopover()">
          <span ion-text color="input-text-color">Select working hours</span>
        </div>
      </div>  

      <!-- Contact Person -->
      <div formGroupName="contactPerson">
        <div class="c-item-box">
          <span 
            ion-text color="text-color"
            ngClass="fs-rem-16 padding-top-5 input-label display-ib"
            >
            Contact Person
          </span>
          <ion-input 
            type="text"
            ngClass="trans" 
            formControlName="name" 
            placeholder="Enter the name of contact person">
          </ion-input>
          <div *ngIf="name.invalid && (name.dirty || name.touched)">
            <span *ngIf="name.errors.required" class="error fs-12">
              Contact name is required
            </span>
          </div>
        </div>

        <div class="c-item-box">
          <span 
            ion-text color="text-color"
            ngClass="fs-rem-16 padding-top-5 input-label display-ib"
            >
            Email
          </span>
          <ion-input 
            type="email"
            ngClass="trans" 
            formControlName="email" 
            placeholder="Please enter email">
          </ion-input>
          <div *ngIf="email.invalid && (email.dirty || email.touched)">
            <span *ngIf="email.errors.required" class="error fs-12">
              Contact email is required
            </span>
            <span *ngIf="email.errors.email" class="error fs-12">
              Please enter a valid email address
            </span>
          </div>
        </div>

        <div class="c-item-box">
          <span 
            ion-text color="text-color"
            ngClass="fs-rem-16 padding-top-5 input-label display-ib"
            >
            Phone Number
          </span>
          <ion-input 
            type="tel"
            ngClass="trans" 
            formControlName="phoneNumber" 
            placeholder="Please enter your land or mobile phone">
          </ion-input>
          <div *ngIf="phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched)">
            <span *ngIf="phoneNumber.errors.required" class="error fs-12">
              PhoneNumber is required
            </span>
            <span *ngIf="phoneNumber.errors.pattern" class="error fs-12">
              Please input a valid phone number
            </span>
          </div>
        </div>
      </div>

    <!-- Next and Previous Button -->
    <div>
      <ion-grid no-padding>
        <ion-row>
          <ion-col col-4>
            <button
              mode="ios"
              color="loc-button" 
              class="c-button no-bg"  
              ion-button full (click)="toDashboardPage()"
              >
              previous
            </button>
          </ion-col>
          <ion-col></ion-col>
          <ion-col col-4>
            <button
              mode="ios" 
              color="loc-button" 
              class="c-button no-bg" 
              
              ion-button full (click)="submit()"
              >
              next
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </form>
  </div>
</ion-content>
