loading-dialog {
  .content-box {
    background: rgba(255, 255, 255, 0.871);
  }

  .msg-txt {
    font-size: 18px;
  }

  .flex-container {
    margin: 70% auto auto auto;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
  }
}
