<div>
  <div class="box">
    <div class="c-item-box">
      <span ion-text color="text-color">Room Name</span>
      <ion-input ngClass="trans" [(ngModel)]="roomName" type="text" value="" placeholder="Enter room name"></ion-input>
    </div>

    <div class="c-item-box">
      <span ion-text color="text-color">Lighting Occupied Hours</span>
      <ion-item ngClass="blank" no-lines>
        <ion-select ngClass="trans" [(ngModel)]="lightingHours" full placeholder="Select lighting occupied hours">
          <ion-option *ngFor="let work of workHours">{{ work }}</ion-option>
        </ion-select>
      </ion-item>
    </div>

    <div class="c-item-box">
      <span ion-text color="text-color">Height To Fixtures</span>
      <ion-input ngClass="trans" [(ngModel)]="heightToFixtures" type="text" value="" placeholder="Enter height to fixtures"></ion-input>
    </div>
    
    <div class="c-item-box">
      <span ion-text color="text-color">Lift</span>
      <ion-list radio-group [(ngModel)]="hasLift">
        <ion-item ngClass="trans" no-lines>
          <ion-label>Yes</ion-label>
          <ion-radio value="true"></ion-radio>
        </ion-item>
        <ion-item ngClass="trans" no-lines>
          <ion-label>No</ion-label>
          <ion-radio value="false"></ion-radio>
        </ion-item>
      </ion-list>
    </div>
  </div>

</div>
